/* line 21, Wheel.scss */
.wheels {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 8rem;
  height: 8rem;
  cursor: -webkit-grab;
  cursor: grab;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* line 42, Wheel.scss */
.wheels .wheel {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 100% 25%;
  -ms-transform-origin: 100% 25%;
  -webkit-transform-origin: 100% 25%;
  transform-origin: 100% 25%;
}
/* line 54, Wheel.scss */
.wheels .wheel > div {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 50%;
  line-height: 4rem;
  text-align: center;
  z-index: 0;
  background: #C43;
  border: solid 2px #333;
  outline: 1px solid transparent;
  -ms-backface-visibility: hidden;
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(1) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 158px);
  background: rgba(255, 128, 128, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(2) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 22.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 22.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 22.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 22.5deg) translate3d(0, 0, 158px);
  background: rgba(255, 175, 128, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(3) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 45deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 45deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 45deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 45deg) translate3d(0, 0, 158px);
  background: rgba(255, 223, 128, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(4) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 67.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 67.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 67.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 67.5deg) translate3d(0, 0, 158px);
  background: rgba(239, 255, 128, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(5) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 158px);
  background: rgba(191, 255, 128, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(6) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 112.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 112.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 112.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 112.5deg) translate3d(0, 0, 158px);
  background: rgba(143, 255, 128, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(7) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 135deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 135deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 135deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 135deg) translate3d(0, 0, 158px);
  background: rgba(128, 255, 159, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(8) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 157.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 157.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 157.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 157.5deg) translate3d(0, 0, 158px);
  background: rgba(128, 255, 207, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(9) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 158px);
  background: rgba(128, 255, 255, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(10) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 202.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 202.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 202.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 202.5deg) translate3d(0, 0, 158px);
  background: rgba(128, 207, 255, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(11) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 225deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 225deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 225deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 225deg) translate3d(0, 0, 158px);
  background: rgba(128, 159, 255, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(12) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 247.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 247.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 247.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 247.5deg) translate3d(0, 0, 158px);
  background: rgba(143, 128, 255, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(13) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 270deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 270deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 270deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 270deg) translate3d(0, 0, 158px);
  background: rgba(191, 128, 255, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(14) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 292.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 292.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 292.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 292.5deg) translate3d(0, 0, 158px);
  background: rgba(239, 128, 255, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(15) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 315deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 315deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 315deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 315deg) translate3d(0, 0, 158px);
  background: rgba(255, 128, 223, 0.8);
}
/* line 70, Wheel.scss */
.wheels .wheel > div:nth-of-type(16) {
  -moz-transform: perspective(500px) rotate3d(1, 0, 0, 337.5deg) translate3d(0, 0, 158px);
  -ms-transform: perspective(500px) rotate3d(1, 0, 0, 337.5deg) translate3d(0, 0, 158px);
  -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 337.5deg) translate3d(0, 0, 158px);
  transform: perspective(500px) rotate3d(1, 0, 0, 337.5deg) translate3d(0, 0, 158px);
  background: rgba(255, 128, 175, 0.8);
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
  }
  100% {
    -moz-transform: rotate3d(1, 0, 0, -360deg);
    transform: rotate3d(1, 0, 0, -360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 0, -360deg);
    transform: rotate3d(1, 0, 0, -360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
  }
  100% {
    -moz-transform: rotate3d(1, 0, 0, -360deg);
    -ms-transform: rotate3d(1, 0, 0, -360deg);
    -webkit-transform: rotate3d(1, 0, 0, -360deg);
    transform: rotate3d(1, 0, 0, -360deg);
  }
}
/* line 90, Wheel.scss */
h1, h2 {
  text-align: center;
}

/* line 93, Wheel.scss */
h2 {
  margin-bottom: 0;
}

/* line 97, Wheel.scss */
html, body {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #666;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
